<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>计算器 | Amazing</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="assets/i/amazing-icon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>

  <style>
    .get {
        background: #1E5B94;
        color: #fff;
        text-align: left;
        padding: 50px 0;
        padding-bottom: 42px;
    }
    .get-title {
      font-size: 200%;
      padding: 20px;
      display: inline-block;
      margin-bottom: 0;
    }

    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
  </style>
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="/">Amazing</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/Yieldcurve">收益率曲线</a></li>
        <li class="am-active"><a href="#">计算器</a></li>
        <li><a href="#">Bond Gallery</a></li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            关于我们 <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li><a href="#">模型</a></li>
            <li><a href="#">blog</a></li>
          </ul>
        </li>
      </ul>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> Sign in</button>
      </div>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> Sign up</button>
      </div>
    </div>
  </div>
</header>

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-8 am-u-lg-centered">
      <h1 class="get-title">计算器</h1>
      <h3 style="margin-top: 0;margin-bottom: 0;margin-left: 1.6rem">Amazing根据债券信息进行债券估值、计算到期收益率和利率风险</h3>
    </div>
  </div>
</div>

<div class="am-g" style="margin-top: 4rem"> 
  <div class="am-u-lg-2 am-u-lg-push-2">
      <ul class="am-list">
        <li><a href="#" onclick="show_ytm()">到期收益率</a></li>
        <li><a href="#" onclick="show_pricing()">债券估值</a></li>
        <li><a href="#" onclick="show_ir_risk()">利率风险</a></li>
      </ul>
  </div>
  <!--Calculator-->
  <div class="am-u-lg-6 am-u-lg-push-2 calc" style="height: 50rem">
      <div id="blk-ytm">
    <div style="display: block"><b style="font-size: 2rem">到期收益率</b></div>
    <form class="form am-u-lg-push-2" style="margin-top: 3.5rem; line-height: 4rem; border-width: 2px">
         <div>
            <div class="am-input-group">
                <label class="label" style="margin-right: 2.5rem;">债券单元成本</label>
                <input type="text" id="cal_YTM_cost" class="text" /> 元
            </div>
            <div class="am-input-group">
                <label class="label" style="margin-right: 2.5rem;">债券单位面值</label>
                <input type="text" id="cal_YTM_par" class="text" /> 元
            </div>

            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'dd-mm-yyyy'}">
              <label class="label" style="margin-right: 1.2rem;">债券购买交割日</label>
              <input type="text" class="text" id="cal_YTM_buydate" readonly data-am-datepicker>
                <input style="display: none" id="cal_YTM_buydate_">
            </div>

            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'dd-mm-yyyy'}">
              <label class="label" style="margin-right: 1.2rem;">债券到期兑付日</label>
              <input type="text" class="text" id="cal_YTM_maturity" readonly data-am-datepicker>
                <input style="display: none" id="cal_YTM_maturity_">
            </div>
            
           <div class="am-input-group">
                <label class="label" style="margin-right: 1.2rem;">债券票面年利率</label>
                <input type="text" id="cal_YTM_ir" class="text" /> %
            </div>

            <div class="am-input-group">
                <label class="label" style="margin-right: 2.5rem;">利息支付频率</label>
                  <input type="text" id="cal_YTM_frequency" class="text" /> 次/年
            </div>

        </div>
        <div class="am-input-group" style="margin-left: 7rem">
              <label class="label"></label>
              <button class="am-btn am-btn-secondary am-btn-sm" type="button" onclick="calYTM()">计算</button>
              <button class="am-btn am-btn-secondary am-btn-sm" id="btnReset" type="reset" style="margin-left: 2rem">清除</button>
        </div>
     </form>
     <div class="result am-u-lg-push-2" style="margin-top: 1.2rem">
      <div class="field">
            <label class="label" style="margin-right: 3.5rem;">到期收益率</label>
            <input type="text" name="cal_result" id="cal_YTM_result" value="" disabled="disabled" class="text"> %
      </div>
    </div>
      </div>

    <div style="display: none" id="blk-pricing">
    <div><b style="font-size: 2rem">债券估值</b></div>
    <form class="form am-u-lg-push-2" style="margin-top: 3.5rem; line-height: 4rem; border-width: 2px">
         <div>
            <div class="am-input-group">
                <label class="label" style="margin-right: 3.8rem;">到期收益率</label>
                <input type="text" id="cal_pricing_ytm" class="text" /> %
            </div>
            <div class="am-input-group">
                <label class="label" style="margin-right: 2.5rem;">债券单位面值</label>
                <input type="text" id="cal_pricing_par" class="text" /> 元
            </div>

            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'dd-mm-yyyy'}">
              <label class="label" style="margin-right: 1.2rem;">债券购买交割日</label>
              <input type="text" class="text" id="cal_pricing_buydate" readonly data-am-datepicker>
                <input style="display: none" id="cal_pricing_buydate_">
            </div>

            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'dd-mm-yyyy'}">
              <label class="label" style="margin-right: 1.2rem;">债券到期兑付日</label>
              <input type="text" class="text" id="cal_pricing_maturity" readonly data-am-datepicker>
                <input style="display: none" id="cal_pricing_maturity_">
            </div>

           <div class="am-input-group">
                <label class="label" style="margin-right: 1.2rem;">债券票面年利率</label>
                <input type="text" id="cal_pricing_ir" class="text" /> %
            </div>

            <div class="am-input-group">
                <label class="label" style="margin-right: 2.5rem;">利息支付频率</label>
                  <input type="text" id="cal_pricing_frequency" class="text" /> 次/年
            </div>

        </div>
        <div class="am-input-group" style="margin-left: 7rem">
              <label class="label"></label>
              <button class="am-btn am-btn-secondary am-btn-sm" type="button" onclick="calPricing()">计算</button>
              <button class="am-btn am-btn-secondary am-btn-sm" id="btnReset" type="reset" style="margin-left: 2rem">清除</button>
        </div>
     </form>
     <div class="result am-u-lg-push-2" style="margin-top: 1.2rem">
      <div class="field">
            <label class="label" style="margin-right: 4.8rem;">估值全价</label>
            <input type="text" name="cal_result" id="cal_pricing_result_dirty" value="" disabled="disabled" class="text"> 元
      </div>
         <div class="field" style="margin-top: 1rem">
            <label class="label" style="margin-right: 4.8rem;">估值净价</label>
            <input type="text" name="cal_result" id="cal_pricing_result_clean" value="" disabled="disabled" class="text"> 元
      </div>
    </div>
    </div>

  <div id="blk-ir-risk" style="display: none">
    <div ><b style="font-size: 2rem">利率风险</b></div>
    <form class="form am-u-lg-push-2" style="margin-top: 3.5rem; line-height: 4rem; border-width: 2px">
         <div>
            <div class="am-input-group">
                <label class="label" style="margin-right: 3.8rem;">到期收益率</label>
                <input type="text" id="cal_risk_ytm" class="text" /> %
            </div>
            <div class="am-input-group">
                <label class="label" style="margin-right: 2.5rem;">债券单位面值</label>
                <input type="text" id="cal_risk_par" class="text" /> 元
            </div>

            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'dd-mm-yyyy'}">
              <label class="label" style="margin-right: 1.2rem;">债券购买交割日</label>
              <input type="text" class="text" id="cal_risk_buydate" readonly data-am-datepicker>
                <input style="display: none" id="cal_risk_buydate_">
            </div>

            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'dd-mm-yyyy'}">
              <label class="label" style="margin-right: 1.2rem;">债券到期兑付日</label>
              <input type="text" class="text" id="cal_risk_maturity" readonly data-am-datepicker>
                <input style="display: none" id="cal_risk_maturity_">
            </div>

           <div class="am-input-group">
                <label class="label" style="margin-right: 1.2rem;">债券票面年利率</label>
                <input type="text" id="cal_risk_ir" class="text" /> %
            </div>

            <div class="am-input-group">
                <label class="label" style="margin-right: 2.5rem;">利息支付频率</label>
                  <input type="text" id="cal_risk_frequency" class="text" /> 次/年
            </div>

        </div>
        <div class="am-input-group" style="margin-left: 7rem">
              <label class="label"></label>
              <button class="am-btn am-btn-secondary am-btn-sm" type="button" onclick="calIRRisk()">计算</button>
              <button class="am-btn am-btn-secondary am-btn-sm" id="btnReset" type="reset" style="margin-left: 2rem">清除</button>
        </div>
     </form>
     <div class="result am-u-lg-push-2" style="margin-top: 1.2rem">
      <div class="field">
            <label class="label" style="margin-right: 4.8rem;">修正久期</label>
            <input type="text" name="cal_result" id="cal_risk_result_1" value="" disabled="disabled" class="text">
      </div>
         <div class="field" style="margin-top: 1rem">
            <label class="label" style="margin-right: 7.5rem;">凸性</label>
            <input type="text" name="cal_result" id="cal_risk_result_2" value="" disabled="disabled" class="text">
      </div>
    </div>
  </div>

</div>

<!--<footer class="footer">
  <p>© 2014 <a href="http://www.yunshipei.com" target="_blank">AllMobilize, Inc.</a> Licensed under <a
      href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. by the AmazeUI Team.</p>
</footer>-->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>


<script type="text/javascript">
    function show_ytm() {
        $('#blk-ytm').show();
        $('#blk-ir-risk').hide();
        $('#blk-pricing').hide();
    }

    function show_pricing() {
        $('#blk-ytm').hide();
        $('#blk-ir-risk').hide();
        $('#blk-pricing').show();
    }

    function show_ir_risk() {
        $('#blk-ytm').hide();
        $('#blk-ir-risk').show();
        $('#blk-pricing').hide();
    }
</script>

<script type="text/javascript">
    Date.prototype.format = function(format)
    {
         var o = {
         "M+" : this.getMonth()+1, //month
         "d+" : this.getDate(),    //day
         "h+" : this.getHours(),   //hour
         "m+" : this.getMinutes(), //minute
         "s+" : this.getSeconds(), //second
         "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
         "S" : this.getMilliseconds() //millisecond
         };
         if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
         (this.getFullYear()+"").substr(4 - RegExp.$1.length));
         for(var k in o)if(new RegExp("("+ k +")").test(format))
         format = format.replace(RegExp.$1,
         RegExp.$1.length==1 ? o[k] :
         ("00"+ o[k]).substr((""+ o[k]).length));
         return format;
    };

    $('#cal_YTM_buydate').datepicker().
      on('changeDate.datepicker.amui', function(event) {
          $("#cal_YTM_buydate_").val(event.date.format("yyyy-MM-dd"));
    });

    $('#cal_YTM_maturity').datepicker().
      on('changeDate.datepicker.amui', function(event) {
          $("#cal_YTM_maturity_").val(event.date.format("yyyy-MM-dd"));
    });

    $('#cal_pricing_buydate').datepicker().
      on('changeDate.datepicker.amui', function(event) {
          $("#cal_pricing_buydate_").val(event.date.format("yyyy-MM-dd"));
    });

    $('#cal_pricing_maturity').datepicker().
      on('changeDate.datepicker.amui', function(event) {
          $("#cal_pricing_maturity_").val(event.date.format("yyyy-MM-dd"));
    });

    $('#cal_risk_buydate').datepicker().
      on('changeDate.datepicker.amui', function(event) {
          $("#cal_risk_buydate_").val(event.date.format("yyyy-MM-dd"));
    });

    $('#cal_risk_maturity').datepicker().
      on('changeDate.datepicker.amui', function(event) {
          $("#cal_risk_maturity_").val(event.date.format("yyyy-MM-dd"));
    });

    function calYTM() {
        var buyPrice = $("#cal_YTM_cost").val();
        var parValue = $("#cal_YTM_par").val();
        var buyDate = $("#cal_YTM_buydate_").val();
        var maturity = $("#cal_YTM_maturity_").val();
        var ir = $("#cal_YTM_ir").val();
        var frequency = $("#cal_YTM_frequency").val();
        $.post("/calculate", {type: 'ytm', buy_price: buyPrice, par_value: parValue, buy_date: buyDate,
        maturity: maturity, ir: ir, frequency: frequency}, function (data) {
            $("#cal_YTM_result").val(data);
        });
    }

    function calPricing() {
        var ytm = $("#cal_pricing_ytm").val();
        var parValue = $("#cal_pricing_par").val();
        var buyDate = $("#cal_pricing_buydate_").val();
        var maturity = $("#cal_pricing_maturity_").val();
        var ir = $("#cal_pricing_ir").val();
        var frequency = $("#cal_pricing_frequency").val();
        $.post("/calculate", {type: 'pricing', ytm: ytm, par_value: parValue, buy_date: buyDate,
        maturity: maturity, ir: ir, frequency: frequency}, function (data) {
            data = $.parseJSON(data);
            $("#cal_pricing_result_dirty").val(data[0]);
            $("#cal_pricing_result_clean").val(data[1]);
        });
    }

    function calIRRisk() {
        var ytm = $("#cal_risk_ytm").val();
        var parValue = $("#cal_risk_par").val();
        var buyDate = $("#cal_risk_buydate_").val();
        var maturity = $("#cal_risk_maturity_").val();
        var ir = $("#cal_risk_ir").val();
        var frequency = $("#cal_risk_frequency").val();
        $.post("/calculate", {type: 'risk', ytm: ytm, par_value: parValue, buy_date: buyDate,
        maturity: maturity, ir: ir, frequency: frequency}, function (data) {
            data = $.parseJSON(data);
            $("#cal_risk_result_1").val(data[0]);
            $("#cal_risk_result_2").val(data[1]);
        });
    }

</script>

</body>
</html>
