<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>计算器 | Amazing</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="assets/i/amazing-icon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <script src="assets/js/echarts.min.js"></script>
  <script type="text/javascript" src="assets/js/calendar.js"></script>
  <script type="text/javascript" src="assets/js/calcbond.js"></script>
  <style>
    .get {
        background: #1E5B94;
        color: #fff;
        text-align: left;
        padding: 50px 0;
        padding-bottom: 42px;
    }
    .get-title {
      font-size: 200%;
      padding: 20px;
      display: inline-block;
      margin-bottom: 0;
    }
    
    .my-head {
      margin-top: 40px;
      text-align: center;
    }

    .my-button {
      position: fixed;
      top: 0;
      right: 0;
      border-radius: 0;
    }
    .my-sidebar {
      padding-right: 0;
      border-right: 1px solid #eeeeee;
    }
    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
    .calc .calendar .btn {
      position: absolute;
      right: 3px;
      top: 3px;
      width: 16px;
      height: 15px;
      border: none;
      cursor: pointer;
      background: url(assets/i/sidemenu.png) no-repeat -119px -107px;
    }
  </style>
</head>
<body>
<iframe id="L_DateLayer" name="L_DateLayer" scrolling="no" frameborder="0" style="position: absolute; width: 159px; height: 250px; z-index: 9999; display: none; top: 553px; left: 499px;" src="assets/calendar.html"></iframe>
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="/">Amazing</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/Yieldcurve">收益率曲线</a></li>
        <li class="am-active"><a href="#">计算器</a></li>
        <li><a href="#">Bond Gallery</a></li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            关于我们 <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li><a href="#">模型</a></li>
            <li><a href="#">blog</a></li>
          </ul>
        </li>
      </ul>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> Sign in</button>
      </div>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> Sign up</button>
      </div>
    </div>
  </div>
</header>

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-8 am-u-lg-centered">
      <h1 class="get-title">计算器</h1>
      <h3 style="margin-top: 0;margin-bottom: 0;margin-left: 1.6rem">Amazing根据债券信息进行债券估值、计算到期收益率和利率风险</h3>
    </div>
  </div>
</div>

<div class="am-g" style="margin-top: 4rem"> 
  <div class="am-u-lg-2 am-u-lg-push-2">
      <ul class="am-list">
        <li><a href="#">债券估值</a></li>
        <li><a href="#">到期收益率</a></li>
        <li><a href="#">利率风险</a></li>
      </ul>
  </div>
  <!--Calculator-->
  <div class="am-u-lg-6 am-u-lg-pull-2 calc" style="height: 50rem">
    <div style="display: block"><b style="font-size: 2rem">到期收益率</b></div>
    <form class="form am-u-lg-push-2" style="margin-top: 3.5rem; line-height: 4rem; border-width: 2px"> 
         <div id="c0">
            <div class="field">
                <label class="label" style="margin-right: 2.5rem;">债券单元成本</label>
                <input type="text" name="cal_cost_0" id="cal_cost_0" class="text" /> 元
            </div>
            <div class="field">
                <label class="label" style="margin-right: 2.5rem;">债券单位面值</label>
                <input type="text" name="cal_price_0" id="cal_price_0" class="text" /> 元
            </div>

            <div class="field">
                <label class="label" style="margin-right: 1.2rem;">债券购买交割日</label>
                <div class="calendar" style="display: inline;width: 10rem">
                    <input type="text" name="cal_buyday_0" id="cal_buyday_0" class="text" />
                    <span class="btn" style="right: 26.5rem;top: 10.4rem;" onclick="MyCalendar.SetDate(this,$('cal_buyday_0'))"></span>
                </div>
            </div>

            <div class="field">
                <label class="label" style="margin-right: 1.2rem;">债券到期兑付日</label>
                <div class="calendar" style="display: inline;width: 10rem">
                    <input type="text" name="cal_sellday_0" id="cal_sellday_0" class="text" />
                    <span class="btn" style="right: 26.5rem;top: 14.8rem;" onclick="MyCalendar.SetDate(this,$('cal_sellday_0'))"></span><!--50.5-->
                </div>
            </div>
            
           <div class="field">
                <label class="label" for="cal_rate_1" style="margin-right: 1.2rem;">债券票面年利率</label>
                <input type="text" name="cal_rate_1" id="cal_rate_1" class="text" /> %
            </div>

            <div class="field">
                <label class="label" style="margin-right: 2.5rem;">利息支付频率</label>
                <input type="text" name="cal_freq_2" id="cal_freq_2" class="text" /> 次/年
            </div>

        </div>
        <div class="field" style="padding-left: 7rem">
              <label class="label"></label>
              <button class="am-btn am-btn-secondary am-btn-sm" onclick="calTimWinBond()">计算</button>
              <button class="am-btn am-btn-secondary am-btn-sm" id="btnReset" type="reset" style="margin-left: 2rem">清除</button>
        </div>
     </form>
     <div class="result" style="padding-left: 10.5rem; padding-top: 36rem"><!--14.5-->
      <div class="field">
            <label class="label" style="margin-right: 3.8rem">到期收益率</label>
            <input type="text" name="cal_result" id="cal_result" value="" disabled="disabled" class="text"> %
      </div>
    </div>
  </div>

</div>

<!--<footer class="footer">
  <p>© 2014 <a href="http://www.yunshipei.com" target="_blank">AllMobilize, Inc.</a> Licensed under <a
      href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. by the AmazeUI Team.</p>
</footer>-->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>


</body>
</html>
