<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Amazing</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="assets/i/amazing-icon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/jquery-ui.css"/>  
  <script type="text/javascript" src="assets/js/jquery-1.10.2.js"></script>  
  <script type="text/javascript" src="assets/js/jquery-ui-1.11.2.js"></script> 
  <style>
    .get {
      background: #1E5B94;
      color: #fff;
      text-align: center;
      padding: 100px 0;
    }

    .get-title {
      font-size: 200%;
      border: 2px solid #fff;
      padding: 20px;
      display: inline-block;
    }

    .detail {
      background: #fff;
    }

    .detail-h2 {
      text-align: center;
      font-size: 150%;
      margin: 40px 0;
    }

    .hope {
      background: #0bb59b;
      padding: 50px 0;
    }

    .hope-img {
      text-align: center;
    }

    .hope-hr {
      border-color: #149C88;
    }

    .about-color {
      color: #34495e;
    }

    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
    
    .am-table tbody th {
      text-align: right;
      width: 50%;
    } 

  </style>
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="/">Amazing</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="am-active"><a href="#">首页</a></li>
        <li><a href="/Yieldcurve">收益率曲线</a></li>
        <li><a href="/calculator">计算器</a></li>
        <li><a href="#">Bond Gallery</a></li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            关于我们 <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li><a href="#">模型</a></li>
            <li><a href="#">blog</a></li>
          </ul>
        </li>
      </ul>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm" onclick="javascript:window.location.href='/login'"><span class="am-icon-pencil"></span> Sign in</button>
      </div>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" onclick="javascript:window.location.href='/signup'"><span class="am-icon-user"></span> Sign up</button>
      </div>
    </div>
  </div>
</header>

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">Amazing - Fixed Income Risk Calculation System</h1>
    </div>
    <div class="am-u-lg-12" style="margin-top: 5rem">
    
        <div class="am-u-lg-6 am-u-lg-centered notify-latest">
          <div class="am-u-lg-8 am-u-lg-push-1 am-text-right subscribe-field">
            <input class="am-form-field am-round" id="search" type="" required="" placeholder="Bond Name/Bond code">
            <input class="am-form-field am-round" id="search-handle" type="" required="" placeholder="Bond Name/Bond code" style="display: none">
          </div>
          <div class="am-u-lg-2 am-u-lg-pull-1">
            <button id="subscribe-submit" class="am-btn am-btn-secondary am-btn-block am-round" onclick="search()">Search</button>
          </div>
        </div>
    
    </div>
    <div class="am-u-lg-6 am-u-lg-centered notify-latest" id="query-result"></div>
  </div>
</div>

<div class="am-g" id="info-block" style="margin-top: 3rem; display: none">
  <div class="am-g am-text-center">
    <h2 class="am-text-center" style="display: inline;" id="info-fullname">信利光电公司2016发行公司债券(第一期)</h2>
    <button type="button" class="am-btn am-btn-primary am-btn-sm" id="subscribe-btn" onclick="subscribe()">订阅</button>
  </div>
  <hr data-am-widget="divider" style="width: 50%" class="am-divider am-divider-default" />
  <div class="am-u-lg-6 am-u-lg-centered bond-detail-container">
    <h3 class="am-text-center">基本信息</h3>
    <table class="am-table am-table-hover am-text-left">
      <tbody>
      <tr><th>债券代码</th><td id="info-code">112421</td></tr>
      <tr><th>简称</th><td id="info-shortname">16信利01</td></tr>
      <tr><th>发行起始日</th><td id="info-startdate">2016-07-28</td></tr>
      <tr><th>期限(年)</th><td id="info-range">5</td></tr>
      <tr><th>年利率(%)</th><td id="info-ir">5.8</td></tr>
      <tr><th>计息日</th><td id="info-irdate">7.28</td></tr>
      </tbody>
    </table>
  </div>
  <hr data-am-widget="divider" style="width: 50%" class="am-divider am-divider-default" />
  <div class="am-u-lg-6 am-u-lg-centered bond-detail-container">
    <h3 class="am-text-center">Amazing估值</h3>
    <table class="am-table am-table-hover am-text-left">
      <tbody>
      <tr><th>估价全价(元)</th><td id="info-dirtyprice">101.0598</td></tr>
      <tr><th>估价净价(元)</th><td id="info-cleanprice">100.3194</td></tr>
      <tr><th>估计收益率(%)</th><td id="info-ytm">5.5000</td></tr>
      <tr><th>估价修正久期</th><td id="info-duration">2.57</td></tr>
      <tr><th>估价凸性</th><td id="info-convexity">9.26</td></tr>
      </tbody>
    </table>
  </div>
  <hr data-am-widget="divider" style="width: 50%" class="am-divider am-divider-default" />
</div>



<div class="detail" style="margin-top: 2rem">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="detail-h2">更多应用</h2>
      <ul class="am-avg-md-4 am-avg-sm-1">      
      <li class="am-padding-sm am-text-center">
        <p><i class="am-icon-line-chart am-icon-md"></i></p>
        <h2>收益率曲线</h2>
        <p class="am-text-sm">Amazing根据实时市场数据对不同类型、不同信用等级、不同到期时间的债券进行收益率预测。</p>
      </li>      
      <li class="am-padding-sm am-text-center">
        <p><i class="am-icon-percent am-icon-md"></i></p>
        <h2>计算器</h2>
        <p class="am-text-sm">Amazing根据您提供的债券信息进行债券估值、收益率和风险计算。</p>
      </li>      
      <li class="am-padding-sm am-text-center">
        <p><i class="am-icon-paper-plane am-icon-md"></i></p>
        <h2>Bond Gallery</h2>
        <p class="am-text-sm">在Bond Gallery中寻找您认为有投资价值的债券。</p>
      </li>      
      <li class="am-padding-sm am-text-center">
        <p><i class="am-icon-bookmark am-icon-md"></i></p>
        <h2>定制服务</h2>
        <p class="am-text-sm">成为Amazing注册用户，享受更多定制服务。</p>
      </li>
     </ul>
    </div>
  </div>
</div>

<div class="hope">
  <div class="am-g am-container">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img" style="top: 7rem">
      <img src="assets/i/examples/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
      <hr class="am-article-divider am-show-sm-only hope-hr">
    </div>
    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12 am-u-lg-push-1">
     
          <form class="am-form">
            <label for="name" class="about-color">你的姓名</label>
            <input id="name" type="text">
            <br/>
            <label for="email" class="about-color">你的邮箱</label>
            <input id="email" type="email">
            <br/>
            <label for="message" class="about-color">你的留言</label>
            <textarea id="message"></textarea>
            <br/>
            <button type="submit" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-check"></i> 提 交</button>
          </form>
          <hr class="am-article-divider am-show-sm-only">
    </div>
  </div>
</div>

<footer class="footer">
  <p>© 2018. by the Amazing Team.</p>
</footer>

<script src="assets/js/amazeui.min.js"></script>
<script type="text/javascript">
	$(function() {
    $("#search").autocomplete({
      source: function (request, response) {
          var q = request['term'];
          $.getJSON('/search?q='+q, function (data) {
              response($.map(data, function (item) {
                  return {
                      label: item[0] + ' ' + item[1] + ' ' + item[2],
                      value: item[0]
                  };
              }));
          });
      },
      focus: function (event, ui) {
          $(this).val(ui.item.label);
          event.preventDefault();
      },
      select: function (event, ui) {
          $(this).val(ui.item.label);
          $("#search-handle").val(ui.item.value);
          event.preventDefault();
      }  
    });
  });
</script>

<script type="text/javascript">
   function search() {
       var content = $('#search-handle').val();
       $.getJSON('/detail?q='+content, function (data) {
           $("#info-fullname").html(data['FullName']);
           $("#info-code").html(data['Code']);
           $("#info-shortname").html(data['ShortName']);
           $("#info-startdate").html(data['StartDate']);
           $("#info-range").html(data['Range']);
           $("#info-ir").html(data['IR'].toFixed(2));
           $("#info-irdate").html(data['IRDate']);
           $("#info-dirtyprice").html(data['DirtyPrice'].toFixed(4));
           $("#info-cleanprice").html(data['CleanPrice'].toFixed(4));
           $("#info-ytm").html(data['YTM'].toFixed(4));
           $("#info-duration").html(data['Duration'].toFixed(4));
           $("#info-convexity").html(data['Convexity'].toFixed(4));
           $("#info-block").show();
       })
   }
   
   function subscribe() {
       {% if current_user.is_authenticated%}
       $.post('/addSubscribe', {user_id: '{{current_user.id}}', bond_id: $("#info-code").html()});
       {% else %}
       window.location.href = '/login';
       {% endif %}
   }
</script>

</body>
</html>
